.form {
    margin-top: 100px;
}

.form button {
    margin-top: 8px;
}

.login-btn {
    width: 100%;
    margin-top: 16px;
    background-color: #62ac62;
}

.btn-fb-login {
    width: 100%;
    float: right;
    border: 1px solid rgba(149,154,157,0.14);
    background-color: #4c69ba;
    height: 40px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

.register-label {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}